<div class="w-full lg:w-[35vh] flex flex-col gap-5 px-3">
  <div class="flex w-full justify-between items-center">
    <p class="text-[20px] font-bold">Filtros</p>
    <button 
      class="text-[#1a95ad] hover:underline cursor-pointer"
      [ngClass]="{
        'hidden': isActiveClean() === false,
        'block': isActiveClean() === true,
      }"
      (click)="onCleanFilters()"
    >
      Limpiar
    </button>
  </div>
  <div class="flex flex-col w-full gap-2">
    <p class="text-[17px] font-semibold">Precio</p>
    <mat-slider min="0" max="1000" step="10">
      <input matSliderStartThumb [(ngModel)]="isMinPrice" />
      <input matSliderEndThumb [(ngModel)]="isMaxPrice" />
    </mat-slider>
    <p>${{ isMinPrice() }} - ${{ isMaxPrice() }}</p>
  </div>
  <div class="flex flex-col w-full gap-3">
    <p class="text-[17px] font-semibold">Categorías</p>
    <mat-radio-group aria-label="Select an option" [(ngModel)]="categoria">
      <mat-radio-button value="default">All</mat-radio-button>
      <mat-radio-button value="men">Hombres</mat-radio-button>
      <mat-radio-button value="women">Mujeres</mat-radio-button>
      <mat-radio-button value="kid">Niños</mat-radio-button>
    </mat-radio-group>
  </div>
  <div class="flex flex-col w-full gap-3">
    <p class="text-[17px] font-semibold">Tallas</p>
    <div class="grid grid-cols-3 gap-2 w-full items-center px-2">
      @for (talla of tallas; track $index) {
        <button
          class="border-2 border-[#1a95ad] cursor-pointer icon-neumorphic py-1 rounded-[12px] hover:font-semibold"
          [ngClass]="{
            'bg-[#1a95ad] text-white': paran().includes(talla),
            'bg-white': !paran().includes(talla),
          }"
          (click)="toggleTalla(talla)"
        >
          {{ talla }}
        </button>
      }
    </div>
  </div>
  <button
    class="border-2 border-[#1a95ad] bg-[#1a95ad] cursor-pointer text-white icon-neumorphic py-1 rounded-[12px] hover:font-semibold"
    [ngClass]="{
      'hidden': isActiveClean() === false,
      'block': isActiveClean() === true,
    }"
    (click)="onSendFilters()"
  >
    Aplicar Filtros
  </button>
</div>
