<div class="w-full flex flex-col items-center justify-center">
  <div class="w-full max-w-7xl px-5 sm:px-6 lg:px-8 py-6 mx-auto">
    <p class="text-xl md:text-4xl font-bold leading-tight text-[#1a95ad] mb-3 text-center mt-4">Explora las colecciones</p>
    <p class="text-[15px] md:text-[18px] text-foreground/70 my-4 mb-10 text-center">
      Descubre colecciones cuidadosamente seleccionadas, diseñadas para cada estilo y ocasión.
    </p>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-7 my-5 mb-8 w-full">
      @for (card of cardPrincipal; track $index) {
        <app-card-component [datos]="card"></app-card-component>
      }
    </div>
    <p class="text-xl md:text-3xl font-bold leading-tight text-[#1a95ad] mb-3 mt-10">Todas las colecciones disponibles</p>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-5 w-full my-6">
      @for (coleccion of cardCollections; track $index) {
        <app-card-coleccion [coleccion]="coleccion"></app-card-coleccion>
      }
    </div>
  </div>
</div>