<div class="bg-white flex flex-col items-center justify-center w-full">
  <div class="flex flex-col items-center justify-center">
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-7 max-w-7xl mx-auto px-5 sm:px-6 lg:px-8">
      <div class="flex flex-col gap-4 justify-center order-2 lg:order-1">
        <div>
          <button class="icon-neumorphic text-primary">
            ✨ coleccion {{ datos[cambiarIndex - 1].id }} de 4
          </button>
        </div>
        <div>
          <p class="text-5xl md:text-7xl font-bold text-center lg:text-left text-foreground leading-tight text-balance">
            {{ datos[cambiarIndex - 1].nombre }}
          </p>
          <p class="text-lg md:text-xl text-foreground/70 text-center lg:text-left text-balance max-w-xl mt-5">
            {{ datos[cambiarIndex - 1].descripcion }}
          </p>
        </div>
        <div class="mt-5 flex flex-col justify-center lg:justify-start md:flex-row gap-4">
          <button
            class="btn-neumorphic-primary px-8 cursor-pointer"
            [routerLink]="'/coleccion/' + cambiarIndex"
          >
            Explora Coleccion
          </button>
          <button class="btn-neumorphic-primary px-8 ml-4 cursor-pointer" routerLink="'/colecciones">
            Ver Todos
          </button>
        </div>
      </div>

      <div class="order-1 lg:order-2 flex justify-center">
        <img
          src="{{ datos[cambiarIndex - 1].imagen }}"
          alt="Imagen de la coleccion"
          class="w-[80vw] lg:w-full h-145 object-cover rounded-2xl"
        />
      </div>
    </div>

    <div
      class="flex flex-row justify-between items-center w-full max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 mt-5"
    >
      <button
        class="icon-neumorphic cursor-pointer text-gray-400 hover:text-primary"
        (click)="cambiarIndexAnterior()"
      >
        <svg lucideChevronLeft class="w-6 h-6"></svg>
      </button>
      <div class="flex">
        @for (item of datos; track $index) {
            <button
                (click)="elegirIndex(item.id)"
                [ngClass]="{
                'w-8 bg-primary': cambiarIndex === (item.id),
                'w-3 bg-primary/30 hover:bg-primary/50': cambiarIndex !== (item.id),
                }"
                class="rounded-full mr-1 transition-all h-3"
            ></button>
        }
      </div>

      <button
        class="icon-neumorphic cursor-pointer text-gray-400 hover:text-primary"
        (click)="cambiarIndexSiguiente()"
      >
        <svg lucideChevronRight class="w-6 h-6"></svg>
      </button>
    </div>
  </div>

  <div class="flex flex-col w-full max-w-7xl mx-auto px-5 sm:px-6 lg:px-8 my-15">
    <p class="text-3xl md:text-5xl font-bold leading-tight text-balance text-[#1a95ad]">Explora las Colecciones disponibles</p>
    <p class="text-lg md:text-xl text-foreground/70 text-balance max-w-xl mt-5 mb-8">Descubre colecciones seleccionadas y adaptadas a tu estilo.</p>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-7 mt-5 w-full">
      @for (card of cardPrincipal; track $index) {
        <app-card-component [datos]="card"></app-card-component>
      }
    </div>
  </div>

  <div class="w-full bg-[#e2e2e2]">
    <div class="flex flex-col w-full max-w-7xl px-5 sm:px-6 lg:px-8 py-18 mx-auto">
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-7 mt-5 w-full">
        @for (card of cardSecu; track $index) {
          <app-card-component [datos]="card"></app-card-component>
        }
      </div>
    </div>
  </div>

  <div class="w-full bg-white py-20 px-5">
    <div class="flex flex-col items-center justify-center w-full max-w-2xl shadow-[0_0_15px_#e2e2e2] rounded-2xl px-4 md:px-6 lg:px-10 py-10 mx-auto">
      <p class="text-xl md:text-3xl font-bold leading-tight text-[#1a95ad]">Mantente al día</p>
      <p class="text-[15px] md:text-[16px] text-center text-foreground/70 mt-3">
        Suscríbete para acceder antes que nadie a las nuevas colecciones y ofertas exclusivas
      </p>
      <div class="flex flex-col md:flex-row justify-center items-center mt-8 gap-4 w-full">
        <input type="text" placeholder="Ejemplo: renzogonzalesasencios@gmail.com" class="glass border-white/20 icon-neumorphic focus:border-primary/50 bg-white/30 dark:bg-white/5 rounded-2xl h-10 w-full">
        <button class="btn-neumorphic-primary px-8 cursor-pointer">Suscribirse</button>
      </div>
    </div>
  </div>
</div>
