<div class="w-full flex flex-col items-center justify-center">
  <div class="w-full max-w-7xl px-5 sm:px-6 lg:px-8 py-6 mx-auto">
    <p class="text-xl md:text-4xl font-bold leading-tight text-[#1a95ad] mb-3">Nuestro Catalogo</p>
    <p class="text-[15px] md:text-[18px] text-foreground/70 mt-3">
      Explore nuestra colección completa de productos premium
    </p>

    <div class="grid grid-cols-1 lg:grid-cols-[auto_1fr] gap-5 py-14">
      <div>
        <app-filtros></app-filtros>
      </div>

      <div>
        @if (isLoading()) {
          <p class="text-center my-4 font-semibold text-xl">Cargando productos...</p>
        } @else if (isError()) {
          <p class="text-center my-4 font-semibold text-xl">Error al cargar productos</p>
        } @else if (productos().length === 0) {
          <p class="text-center my-4 font-semibold text-xl">No hay productos disponibles</p>
        }
        @else {
          <div class="grid grid-cols-1 md:grid-cols-3 h-fit gap-5 p-3">
            @for (pro of productos(); track $index) {
              <app-card-producto [producto]="pro"></app-card-producto>
            }
          </div>
        }
        <app-paginator [pageTotal]="pageTotal()"></app-paginator>
      </div>
    </div>
  </div>
</div>
