<div class="w-full flex flex-col items-center justify-center">
  <div class="w-full max-w-7xl px-5 sm:px-6 lg:px-8 py-6 mx-auto">
    <div class="grid grid-cols-2 gap-4 my-4">
      <div class="flex flex-col gap-5 justify-center">
        @if (productos(); as producto) {
          <div class="w-full rounded-xl h-[80vh]">
            <img class="w-full h-full object-contain" [src]="producto.images[index()]" />
          </div>
        } @else if (isLoading()) {
          <p>Cargando producto...</p>
        } @else if (isError()) {
          <p>Ocurrió un error al cargar el producto.</p>
        }

        <div class="grid grid-cols-4 gap-4">
          @for (image of productos()?.images; track $index) {
            <div
              (click)="elegirIndex($index)"
              class="w-full rounded-xl h-[15vh] cursor-pointer transition-all hover:translate-y-1"
            >
              <img class="w-full h-full object-contain" [src]="image" />
            </div>
          }
        </div>
      </div>
      <div class="flex flex-col gap-5 px-4">
        <p class="text-3xl font-bold text-[#1a95ad]">{{productos()?.title}}</p>
        <p class="text-2xl font-bold text-[#1a95ad]">$ {{productos()?.price}}</p>
        <p class="text-[17px] text-gray-600">
          {{productos()?.description}}
        </p>
        <p class="text-lg font-semibold">Cantidad</p>
        <div class="flex flex-row gap-4 items-center">
          <button
            class="bg-[#1a95ad] text-white py-1 px-4 rounded-lg hover:bg-[#157a8f] cursor-pointer transition-all"
            (click)="disminuirCantidad()"
          >
            -
          </button>
          <p>{{ cantidad() }}</p>
          <button
            class="bg-[#1a95ad] text-white py-1 px-4 rounded-lg hover:bg-[#157a8f] cursor-pointer transition-all"
            (click)="aumentarCantidad()"
          >
            +
          </button>
          <p class="text-md font-semibold">Stock: {{ productos()?.stock }}</p>
        </div>
        <p class="text-lg font-semibold">Tallas</p>
        <div class="grid grid-cols-3 gap-2 w-full items-center px-2">
          @for (talla of productos()?.sizes; track $index) {
            <button
              class="border-2 border-[#1a95ad] cursor-pointer icon-neumorphic py-1 rounded-[12px] hover:font-semibold"
              [ngClass]="{
                'bg-[#1a95ad] text-white': tallaSeleccionada() === talla,
                'bg-white': tallaSeleccionada() !== talla,
              }"
              (click)="seleccionTalla(talla)"
            >
              {{ talla }}
            </button>
          }
        </div>

        <div class="flex flex-row gap-4 items-center">
          <p class="text-lg font-semibold">Monto total:</p>
          <p class="text-xl font-bold text-[#1a95ad]">${{ montoTotal() }}</p>
        </div>

        <button
          class="border-2 border-[#1a95ad] icon-neumorphic py-1 rounded-[12px] hover:font-semibold"
          [ngClass]="{
                'bg-[#1a95ad] text-white cursor-pointer': botonAgregarDeshabilitado() === false,
                'bg-white text-black cursor-not-allowed': botonAgregarDeshabilitado() === true,
              }"
          [disabled]="botonAgregarDeshabilitado()"
          (click)="agregarAlCarrito()"
        >
          Agregar al carrito
        </button>
      </div>
    </div>
  </div>
</div>
