<div class="w-full h-full flex flex-col group gap-3 bg-white rounded-lg shadow-md cursor-pointer">
    <div>
        <img [src]="producto()!.images[0]" class="w-full h-full object-cover rounded-lg transition-transform duration-300 group-hover:scale-105">
    </div>
    <div class="p-4 flex flex-col">
        <p class="text-lg font-bold">
            {{ producto()!.title || "Nombre" }}
        </p>
        <p>
            <span class="text-sm">
                {{ producto()!.gender || "Categoría" }}
            </span> - 
            <span class="text-sm font-semibold text-gray-400">
                @for(size of producto()!.sizes; track $index) {
                {{ size }},
            }
            </span>
        </p>
        <p class="text-[16px] font-bold mt-5">
            ${{ producto()!.price || "Precio" }}
        </p>
    </div>
</div>
