<div class="w-full h-full flex flex-col group gap-3 bg-white rounded-lg shadow-md cursor-pointer">
  <div>
    <img
      [src]="producto()!.images[0]"
      class="w-full h-full object-cover rounded-lg transition-transform duration-300 group-hover:scale-105"
    />
  </div>
  <div class="p-4 flex flex-col">
    <p class="text-lg font-bold hover:underline" [routerLink]="['/catalogo', producto()!.id]">
      {{ producto()!.title || 'Nombre' }}
    </p>
    <p>
      <span class="text-sm">
        {{ producto()!.gender || 'Categoría' }}
      </span>
      -
      <span class="text-sm font-semibold text-gray-400">
        @for (size of producto()!.sizes; track $index) {
          {{ size }},
        }
      </span>
    </p>
    <div class="flex flex-row justify-between items-center mt-5">
      <p class="text-[16px] font-bold">${{ producto()!.price || 'Precio' }}</p>
        <button
          (click)="this.aver()"
          class="icon-neumorphic py-1 px-2 rounded-lg hover:font-semibold cursor-pointer"
        >
          <svg lucideShoppingCart class="w-5 h-5"></svg>
        </button>
    </div>
  </div>
</div>
